@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using RentACarProject.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model RentACarProject.Web.Pages.Cars.AddModel
@inject IHtmlLocalizer<RentACarProjectResource> L
@{
    Layout = null;
}
<form method="post" action="@Url.Page("/Cars/Add")">
    @Html.AntiForgeryToken()
    <abp-modal>
        <abp-modal-header title="@L["CarAdd"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-select asp-for="CreatedCarDto.CarState"></abp-select>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="CreatedCarDto.ColorId"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="CreatedCarDto.ModelId"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="CreatedCarDto.ModelYear"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="CreatedCarDto.Plate"></abp-input>
        </abp-modal-body>

        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>
