@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using RentACarProject.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model RentACarProject.Web.Pages.Cars.UpdateModel
@inject IHtmlLocalizer<RentACarProjectResource> L
@{
    Layout = null;
}


<form method="post" action="@Url.Page("/Tag/Update")">
    @Html.AntiForgeryToken()
    <abp-modal>
        <abp-modal-header title="@L["TagUpdate"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="UpdatedCarDto.Plate"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="UpdatedCarDto.ModelId"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="UpdatedCarDto.ModelYear"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="UpdatedCarDto.ColorId"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-body>
            <abp-input asp-for="UpdatedCarDto.CarState"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>
