@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using RentACarProject.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<RentACarProjectResource> L
@model RentACarProject.Web.Pages.Transmission.UpdateModel
@{
    Layout = null;
}
<form method="post" action="@Url.Page("/Transmission/Update")">
    @Html.AntiForgeryToken()
    <abp-modal>
        <abp-modal-header title="@L["TransmissionUpdate"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="UpdatedTransmissionDto.Name"></abp-input>
            <abp-input asp-for="Id" type="hidden"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>